<form id='taskForm' action='/tasks' method='POST'>
  <div class="form-group">
    <textarea rows=4 id=title class='form-control' name='title' placeholder='Task..' ></textarea>
  </div>
  <input class='btn btn-primary' type='submit' value='Create Task' />
</form>

<hr />
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default filter-all">All</button>
  <button type="button" class="btn btn-default filter-completed">Completed</button>
  <button type="button" class="btn btn-default filter-incomplete">Incomplete</button>
</div>
<hr />

<ol id=tasks class='list-unstyled'>
  <% @tasks.each do |t| %>
    <li data-taskid='<%= t.id %>' class='<%= t.completed ? 'complete' : 'incomplete' %>'>
    <input data-taskid='<%= t.id %>'  class=complete-checkbox type=checkbox <%= t.completed ? 'checked=checked' : '' %> />
    <span><%= t.title %></span>
    <a href='#' data-taskid='<%= t.id %>' type=button class='delete-task btn btn-danger btn-xs'>
      <i class='glyphicon glyphicon-trash'></i>
    </a>
  </li>
<%end%>
</ol>


<script type="text/javascript">
  var form = $('#taskForm');

  form.submit(function(e){
      e.preventDefault()
      //send an ajax request to the server
      var title = $('#title').val();
      $.post('/tasks', {title: title}, function(task){
        $('#tasks').append('<li class=incomplete data-taskid="' + task.id + '"> ' +
          "<input data-taskid='" + task.id + "'  class=complete-checkbox type=checkbox /> <span>" +
          task.title + "</span> <a href='#' data-taskid='" + task.id + " ' type=button class='delete-task btn btn-danger btn-xs'><i class='glyphicon glyphicon-trash'></i></a></li>")

    
        $('#title').val('')
        })
      })

    console.log("wiring up the handler")

$('#tasks').on('click', '.delete-task', function(e){

    console.log("in the click handler")

    e.preventDefault()
    var id = $(this).data('taskid');

    var li = $(this).parent();

    $.post('/tasks/' + id + "/destroy", function(){
      li.remove();
    })
})

$('#tasks').on('click', '.complete-checkbox', function(e){
    var completed = $(this).is(':checked');
    var id = $(this).data('taskid');

    var li = $(this).parent();

    $.post('/tasks/' + id + "/update", function(){
      li.toggleClass('complete')
      li.toggleClass('incomplete')
    })
})

$('#tasks').on('click', 'span', function(e){
    var title = $(this).text();
    $(this).replaceWith("<div data-oldtitle='"+title+"'><input type=text class=form-control value='"+title+"' /><a class='btn btn-primary save-edit' href='#'>Save</a><a class='cancel-edit btn btn-warning' href='#'>Cancel</a></div>")
})

$('#tasks').on('click', '.cancel-edit', function(e){
    e.preventDefault()

    var title = $(this).parent().data('oldtitle')

    $(this).parent().replaceWith("<span>"+title+"</span>")
})

$('#tasks').on('click', '.save-edit', function(e){
    e.preventDefault()

    var title = $(this).parent().find("input").val()

    var id = $(this).parent().parent().data('taskid')

    $(this).parent().replaceWith("<span>"+title+"</span>")

    $.post('/tasks/' + id + "/update_title", {title: title}, function(){
      console.log('done updating')
    })
})

//only show the completed tasks
$('.filter-completed').click(function(){
    console.log('filter completed')
    $('#tasks li.incomplete').addClass('hidden');
    $('#tasks li.complete').removeClass('hidden');
})
$('.filter-incomplete').click(function(){
    console.log('filter incompleted')
    $('#tasks li.complete').addClass('hidden');
    $('#tasks li.incomplete').removeClass('hidden');
})
$('.filter-all').click(function(){
    console.log('show all')
    $('#tasks li').removeClass('hidden');
})
</script>
